<div class="row encabezado">
    <h1 class=" proyecto__encabezado col-lg-12"> Mis proyectos realizados</h1>
</div>
<div class="row justify-content-center proyecto col-lg-12 background">

    <div class="col-lg-11 proyecto justify-content-center ">

        <div class="row col-lg-11 proyecto__container">
            <div class="col-lg-11 proyecto__lista">
                    <ul>

                        <li>
                            <img src="../../../assets/logo-oracula.png" alt="logoProyecto" class="proyecto__logo">
                            <div class="proyecto__body">
                            <h1 class="proyecto__titulo ">Orácula</h1> - <h3 class="proyecto__titulo">(En Proceso)</h3>
                            <p>Trabajo práctico integrador grupal del curso de Programación Web Full Stack de Digital House. <br> E-commerce de productos y contenidos del género fantástico.</p>
                            <p><strong>#Javascript #Node.js #Express #CRUD #SQL #EJS #HTML #CSS #Flexbox</strong> </p>
                            <a href="https://github.com/aranorj/Grupo_01_Oracula"> ¡Encontralo acá! </a>
                        </div>
                        </li>

                        <li>
                            <img src="../../../assets/logo-mercadoliebre.png" alt="logoProyecto" class="proyecto__logo">
                            <div class="proyecto__body">
                            <h1 class="proyecto__titulo">Mercado Liebre</h1> - <h3 class="proyecto__titulo">(Junio 2022)</h3>
                            <p>Símil del reconocido e-comerce que realicé como trabajo práctico en Digital House, para ejercitar diseño Front-end.</p> 
                            <p><strong>#Javascript #Node.js #Express #EJS #HTML #CSS #Flexbox</strong> </p>
                            <a href="https://github.com/aranorj/mercadoLiebre"> ¡Encontralo acá! </a>
                        </div>
                        </li>

                        <li>
                            <img src="#" alt="logoProyecto" class="proyecto__logo">
                            <div class="proyecto__body">
                            <h1 class="proyecto__titulo">Peluquería canina</h1> - <h3 class="proyecto__titulo">(Enero 2022)</h3>
                            <p>Aplicación simple de escritorio para ejercitar alta de registros en base de datos del curso de Desarrollo Web Full Stack con Java.</p>
                             <p ><strong> #Java #Netbeans #SQL</strong></p>
                            <a href=#> ¡Ya estás acá! </a>
                            </div>
                        </li>

                        <li>
                            <img src="../../../assets/logo-portfolio.png" alt="logoProyecto" class="proyecto__logo">
                            <div class="proyecto__body">
                            <h1 class="proyecto__titulo ">Mi Portfolio Web</h1> - <h3 class="proyecto__titulo">(Agosto 2022)</h3>
                            <p>Portfolio Web en formato SPA que realicé como proyecto integrador para Argentina Programa</p>
                             <p ><strong> #Typescript #Java #Angular #Springboot #SQL #HTML #CSS #Bootstrap </strong></p>
                            <a href=#> ¡Ya estás acá! </a>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
