.footer__container{
    background-color: #00358E;
    color: #fcf9f9cc;
    text-shadow: 1px white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
    
p{
    display: inline;
}

.redes{
    margin: 0px;
    
}