<div class="row justify-content-center experiencia__fondo col-lg-12 background">
  <div class="col-lg-11 experiencia justify-content-center experirenciaLaboral">
    <h1 class="experiencia__encabezado col-lg-10">Mi experiencia</h1>

    <div class="row col-lg-11 experiencia__container">
          <div class="col-lg-11 experiencia__lista">
          <ul>
            <li class = "experiencia__item">
              <img
                src="../../../assets/logo-yaca.png"
                alt="logoEmpresa"
                class="experiencia__logo"
              />
              <div class="experiencia__body">
              <h1 class="experiencia__titulo  ">
                Backend dev. - soporte técnico
              </h1>
              -
              <h3 class="experiencia__anios " >(2022- Actualidad)</h3>
              <h3 ><i> - Yacaré - Billetera virtual (Fintech) </i></h3>
              <ul  >
                <li>
                    <ul>
                   <u>Desarrollo backend - Soporte técnico de integraciones comerciales</u>  - (Julio - Actualidad)
                    <li>
                      Desarrollo de nuevas funcionalidades y reparación de bugs
                    </li>
                    <li>Documentación</li>
                    <li>Soporte técnico para integraciones comerciales: Coordinacion con desarrolladorxs de otras billeteras y comercios
                         de las tareas necesarias para interoperar o incorporarnos como medio de pago
                        </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <u>Soporte técnico</u> - (Mayo - Julio)
                    <li>
                      Analisis y reporte de inconvenientes informados por
                      usuarixs
                    </li>
                    <li>Documentación</li>
                  </ul>
                </li>
              </ul>                   
            </div>
            </li>

            <li class = "experiencia__item">
            <img src="../../../assets/Centro-ojos.png" alt="logoEmpresa" class="experiencia__logo" />
             <div class="experiencia__body">
              <h1 class="experiencia__titulo  ">Auxiliar administrativo</h1>
              -
              <h3 class="experiencia__anios ">(2021-2022)</h3>
              <h3  ><i> - Alem Visión - Clínica Oftalmológica</i></h3>
              <ul  >
                <li>Refractometría y tonometría.</li>
                <li>
                  Asistencia en procedimientos médicos de baja complejidad.
                </li>
                <li>
                  Manejo de software de obras sociales para registro de atención
                  de pacientes.
                </li>
                <li>Elaboración de historias clínicas.</li>
                <li>Atención al público.</li>
              </ul>
            </div>
            </li>

            <li class = "experiencia__item">
             <div class="experiencia__body">
                <h1 class="experiencia__titulo  ">Voluntariado en DDHH</h1>
              -
              <h3 class="experiencia__anios ">(2016-2019)</h3>
              <h3  ><i> - Querella Megacausa Campo de Mayo</i></h3>
              <ul  >
                <li>
                  Consulta de bases de datos (DIPBA - RUTVE) .
                </li>
                <li>
                  Clasificación y digitalización de documentación judicial.
                </li>
                <li>
                  Desgrabación e incorporación de testimonios.
                </li>
                <li>
                  Modelado de base de datos relacional.
                </li>
              </ul>
            </div>
            </li>
          </ul>
        </div>
      </div>
  </div>

    <div class="col-lg-11 experiencia justify-content-center estudios">
    <h1 class="experiencia__encabezado col-lg-12">Mi Educación</h1>
    <div class="col-lg-11 experiencia__container">
      <div class="row">
        
        <div class="col-lg-11 experiencia__lista">
          <ul>
            <li>
              <h1 class="experiencia__titulo">Formación básica</h1>
              -
              <h3 class="experiencia__anios">(2004 - 2015)</h3>
              <p>Secundario completo con orientación a Economía y administración de empresas - Pio XII</p>

            </li>

            <li>
              <h1 class="experiencia__titulo">Formación Universitaria</h1>
              -
              <h3 class="experiencia__anios">(2019-2021)</h3>
              <p>
                Enfermería universitaria (Incompleto - Hasta 2° año inclusive) <br/> UNaM
              </p>
            </li>

            <li>
              <h1 class="experiencia__titulo titulo--cursos">Cursos y capacitaciones IT</h1>
              <ul class = "lista__cursos">
                <li>
                  <h3>Programación Web Full Stack</h3>
                  Argentina Programa
                </li>
                <li>
                  <h3>Programación Web Full Stack (stack SERN)</h3>
                  Digital House
                </li>
                <li>
                  <h3>Programación Mobile con React Native</h3>
                 Silicon Misiones
                </li>
                <li>
                  <h3>Programación Full Stack web con Java</h3>
                  Silicon Misiones
                </li>
                <li>
                  <h3> Desde cero con MySQL</h3>
                  Punto digital
                </li>
                <li>
                  <h3>Introducción a las bases de datos con MySQL</h3>
                  TodoCode Academy
                </li>
                <li>
                  <h3>Java para principiantes</h3>
                  TodoCode Academy
                </li>
               </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>